*{
  font-family:'Courier New', Courier, monospace;
  color: rgb(223, 246, 255);
}
.body{
  background-color: rgb(6, 40, 61);
}

.area{
  padding: 5% 10% 10% 10%;
  margin: 20px;

}
.text{
  text-align: justify;
  font-size: 25px;
}

.footer{
  margin: auto;
  width: 5%;
  padding: 10px;
}
a{
  text-decoration: none;
}

.footerText{
  margin: auto;
  width: 15%;
  padding: 10px;
}